iframe {
	display: block;
	margin: 0 auto;
}
/* Google Maps background on Contact page */
/* (FUN WITH GOOGLE MAPS 2012; Hide and Show 2014) */
#gmap {
	height: 100%;
	width: 100%;
	width: 320px;
	height: 400px;
	z-index: 1;
}
#contact-container {
	margin: 0 auto;
	padding: 5px;
	line-height: 175%;
	width: 300px;
	z-index: 2;
}
#contact-us {
	margin-top: 2%;
	float: none;
	padding: 1%;
	margin-bottom: 1%;
	background: #FFF;
}
#contact-us p {
	margin-top: 3%;
	margin-left: 5%;
	margin-bottom: 3%;	
}
#contact-us h2 {
	padding: 0%;
	margin-left: 2%;
}
#toggle-form {
	display: none;
}
.backToTop {
	margin-top: 5%;
	text-align: center;
	display: block;
}
/* don't change colour after clicking */
.backToTop:visited {
	color: #ff9f00;
}
#bio-aside {
	margin-top: 20%;
}
.margin-bottom {
	margin-bottom: 5%;
}
